@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --color-soft-cyan: hsl(174, 77%, 80%); /* Full Slider Bar */
  --color-strong-cyan: hsl(174, 86%, 45%); /* Slider Background */
  --color-light-grayish-red: hsl(14, 92%, 95%); /* Discount Background */
  --color-light-red: hsl(15, 100%, 70%); /* Discount Text */
  --color-pale-blue: hsl(226, 100%, 87%); /* CTA Text */

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%); /* Pricing Component Background */
  --color-very-pale-blue: hsl(230, 100%, 99%); /* Main Background */
  --color-light-grayish-blue-1: hsl(224, 65%, 95%); /* Empty Slider Bar */
  --color-light-grayish-blue-2: hsl(223, 50%, 87%); /* Toggle Background */
  --color-grayish-blue: hsl(225, 20%, 60%); /* Text */
  --color-dark-desaturated-blue: hsl(227, 35%, 25%); /* Text & CTA Background */

  /* Typography */
  --font-size-body: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-body);
  font-weight: 600;
  color: var(--color-grayish-blue);
  background-color: var(--color-very-pale-blue);
  line-height: 1.5;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: var(--color-dark-desaturated-blue);
}

button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Header */
header {
  height: 50%;
  text-align: center;
  background: url(./images/bg-pattern.svg);
}
.header-container {
  padding: 20% 0;
  background: no-repeat center url(./images/pattern-circles.svg);
}
h1 {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}
@media (min-width: 1440px) {
  /* Desktop styles */
}
